<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRails</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="app"><%= yield %></div>
    <%= javascript_include_tag '/assets/client' %>
  </body>
</html>
